<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Books by @Model.GetName()</title>
  </head>
  <body>
    <h1>@Model.GetName()</h1>

    @if(Model.GetCheckOutRecord(false).Count==0)
    {
      <p>
        You have no checked out books.
      </p>
    }
    else
    {
      <h2>Checked Out Books:</h2>
      <ul>
        @foreach(var book in Model.GetCheckOutRecord(false))
        {
          <li><a href="/books/@book.GetBook().GetId()"> @book.GetBook().GetTitle() </a> | Due Date: @Model.GetReturnDate(book.GetId())</li>
          <form action="/patrons/@Model.GetId()/return" method="post">
            <input type="hidden" name="book" value="@book.GetId()">
            <button type="submit" name="button">Return</button>
          </form>
        }
      </ul>

      <h2>Checked Out History:</h2>
      <ul>
        @foreach(var book in Model.GetCheckOutRecord(true))
        {
          <li><a href="/books/@book.GetBook().GetId()"> @book.GetBook().GetTitle() </a></li>
        }
      </ul>
    }

    <a href="/patrons">Return to Patrons</a>
    <a href="/books/add">Add New Book</a>
    <a href="/">Home</a>
  </body>
</html>
